name: Metrics
on:
  schedule: [{cron: "0 0 * * *"}]
  workflow_dispatch:
jobs:
  github-metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}
          committer_token: ${{ github.token }}
          filename: github-metrics.svg
          user: makinzm
          template: classic
          base: header, activity, community, repositories, metadata
          config_timezone: Asia/Tokyo
          
          plugin_calendar: yes
          plugin_calendar_limit: 3
          plugin_reactions: yes
          plugin_topics: yes
          
          plugin_languages: yes
          plugin_languages_details: bytes-size, percentage
          plugin_languages_limit: 8
          plugin_languages_sections: most-used
          plugin_languages_indepth: yes
          plugin_languages_ignored: html, css, jupyter notebook
          
          plugin_rss: yes
          plugin_rss_source: https://qiita.com/making111/feed
          
          plugin_anilist: yes
          plugin_anilist_username: makinzm
          
          plugin_music: yes
          plugin_music_playlist: https://open.spotify.com/embed/playlist/5fQGZNe2vj10iduICZzpoJ
          plugin_music_limit: 3